* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: #f8f6f6;
}

.dash-container {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 2rem 3rem;
  display: inline-block;
}

.sub-title {
  margin: 2rem 3rem 2rem;
}

#addClassButton {
  border: none;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  background-color: #24292f;
  color: white;
  font-weight: bold;
  margin-right: 4.5rem;
}

i {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
}

.nav-menu {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.nav-item {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
  box-sizing: border-box;
}

.nav-item:hover {
  background-color: #3c444e;
  box-shadow: none;
}

.aub-logo {
  width: 3.8rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
}

.nav-list {
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

#navBar {
  background-color: #24292f;
  height: 100vh;
  width: 5rem;
  position: fixed;
}

.banner-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  z-index: 1;
}

.banner-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1.5rem 5rem;
  color: white;
  font-size: 2.5rem;
}

#banner {
  background-color: #b8b8b8;
  height: 27rem;
  background-image: url("../assets/collegehall_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 1rem;
}

#lower-section {
  margin-left: 2rem;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-card-section {
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 12rem;
  justify-content: center;
  margin: 1rem 2rem 2rem;
  text-align: center;
}

.class-card {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 12rem;
  background-color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  justify-content: center;
  margin: 0 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.class-card-student {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 14rem;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  margin: 0 2rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.removeUnderline {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.black {
  color: black;
}

.white {
  color: white;
}
