* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #393c41;
}

/* <---------------- General ----------------> */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #161718;
}

::-webkit-scrollbar-thumb {
  background-color: #425c7a;
  border-radius: 0.5rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-button {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ddd9d9;
  border-radius: 5px;
  background-color: #161718;
  color: white;
  transition: 0.3s;
  white-space: nowrap;
}

.secondary-button {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #161718;
  border-radius: 5px;
  background-color: transparent;
  color: #161718;
  transition: 0.3s;
}

.form-button:hover {
  opacity: 0.85;
  transition: 0.3s;
}

.secondary-button:hover {
  background-color: #2f353b;
  color: white;
  transition: 0.3s;
}

.fit-content {
  width: fit-content;
}

.dash-button {
  border: none;
  font-size: 12px;
  border-radius: 5px;
  height: 2.3rem;
  background-color: #161718;
  color: white;
  font-weight: bold;
  margin-right: 5rem;
  padding: 0 10px;
}

.sensei-logo-nav {
  background-color: #161718;
  height: 35px;
  width: 35px;
  margin-top: 2rem;
}

.nav-item {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
  font-size: 0.65rem;
  box-sizing: border-box;
}

.icons {
  font-size: 1.2rem;
}

.nav-item:hover {
  background-color: #3c444e;
}

#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161718;
  height: 100vh;
  width: 5rem;
  position: fixed;
}

.banner-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  z-index: 1;
}

.banner-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1.5rem 3rem;
  color: white;
  font-size: 2rem;
}

#banner {
  background-color: #b8b8b8;
  height: 21rem;
  background-image: url('../assets/collegehall_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dash-container {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
}

.empty-alert {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-text {
  color: #8d8d8d;
  font-size: 14px;
}

.title {
  padding: 2rem 3rem;
  display: inline-block;
}

.sub-title {
  margin: 1rem 3rem;
}

/* <----- Inputs ------> */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.input-container {
  width: 100%;
  margin: 10px 0;
}

.std-input {
  background-color: #f5f5f5;
  height: 42px;
  width: 100%;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #393c41;
}

.sheet-input {
  text-align: center;
  width: 8rem;
  margin-right: 1rem;
  font-size: 14px;
}

.desc-input {
  width: 12rem;
  font-size: 18px;
}

.alert-input {
  height: 60px;
  padding: 0 10px;
  margin: 30px 20px 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: #393c41;
  width: 100%;
}

/* <----- Inputs ------> */

/* <---------------- General ----------------> */

/* ============================================ */

/* <---------------- Landing ----------------> */

#landing-page {
  display: flex;
  height: 100vh;
  background-image: url('../assets/bg.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-panel {
  padding: 0 150px 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

.landing-text {
  max-width: 30%;
  min-width: 200px;
}

.landing-image {
  height: 300px;
  width: 300px;
  margin-right: 10%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: float 3.5s ease-in-out infinite;
}

.landing-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px 0 20px 0;
}

.landing-button {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #161718;
  color: white;
  transition: 0.3s;
  opacity: 1;
}

.landing-button:hover {
  background-color: #2f353b;
  transition: 0.3s;
}

.landing-title {
  margin-bottom: 25px;
  font-size: 30px;
}

.landing-sub-title {
  color: #767676;
  margin-bottom: 25px;
}

.sensei-landing-logo {
  font-size: 30px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.header-logo {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* <---------------- Landing ----------------> */

/* ============================================ */

/* <---------------- Log In ----------------> */

.login-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 40px 8%;
  justify-content: center;
}

.login-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), transparent);
  z-index: 1;
}

#auth-message {
  color: #8d8d8d;
  margin-top: 0.5rem;
}

.google-button:hover {
  background-color: rgb(237, 242, 247);
}

.google-signin {
  color: black;
}

.form-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.divider {
  height: 1px;
  background-color: #ddd9d9;
  width: 35%;
}

.optional-message {
  display: flex;
  font-size: 0.8rem;
  margin: 0 0.5rem;
  color: #b8b8b8;
  white-space: nowrap;
}

.google-logo {
  height: 1.5rem;
  margin-right: 0.8rem;
}

.login-image {
  position: relative;
  width: 60%;
  background-image: url('../assets/Masri_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#alternate-option {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
  font-size: 12px;
  padding: 0.8rem 0;
  font-weight: bold;
}

#signup-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  font-size: 12px;
  padding: 0.8rem 0;
  font-weight: bold;
}

/* <---------------- Log In ----------------> */

/* ============================================ */

/* <---------------- Sign Up ----------------> */

.signup-image {
  position: relative;
  width: 60%;
  background-image: url('../assets/AUB_Church.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.google-button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd9d9;
  height: 50px;
  border-radius: 5px;
  margin: 2.5rem 0;
  font-weight: bold;
  min-height: 48px;
}

.terms-message {
  align-items: center;
  margin-top: 35px;
  font-size: 12px;
  text-align: center;
}

.terms-span {
  color: orange;
  font-weight: bold;
}

/* <---------------- Sign Up ----------------> */

/* ============================================ */

/* <---------------- Forgot Password ----------------> */

.forgot-image {
  position: relative;
  width: 60%;
  background-image: url('../assets/IFI.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* <---------------- Forgot Password ----------------> */

/* ============================================ */

/* <---------------- PNG ----------------> */
.classPNG {
  background-image: url('../assets/box.png');
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-size: contain;
}

.sessionPNG {
  background-image: url('../assets/clapperboard.png');
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.alertPNG {
  background-image: url('../assets/alert.png');
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

.sheetPNG {
  background-image: url('../assets/papertray.png');
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* <---------------- PNG ----------------> */

/* ============================================ */

.circular-progress {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#addClassButton:hover {
  background-color: #273647;
}

i {
  color: #fff;
  font-size: 2rem;
  /* margin-bottom: 0.5rem; */
}

ul {
  list-style: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 100vh;
}

#card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 1rem;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.QR-Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 100%;
  height: 350px;
}

.QR-Panel img {
  height: 400px;
}

.class-card {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 10rem;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  margin: 0 2rem 2rem;
}

.class-card p {
  font-weight: bold;
  color: #5c5d61;
  font-size: 14px;
}

.swal-modal .swal-text {
  text-align: center;
}

.session-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

.avatar {
  background-image: url('../assets/default-avatar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60px;
  min-width: 60px;
  height: 60px;
  background-color: #8d8d8d;
  border-radius: 50%;
  margin-bottom: 0.6rem;
}

.primary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-loader {
  padding: 10px;
  color: white;
}

.student-card {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 10rem;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
}

.student-name {
  font-size: 20px;
}

.student-id {
  margin-top: 5px;
  font-size: 15px;
}

.grade-section {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.grade-progress {
  height: 120px;
  width: 120px;
  font-weight: bold;
}

.sheet-cards {
  margin: 50px 0 20px;
}

.student-sheet-name {
  margin: 0 5px;
}

.student-sheet-id {
  margin-left: 2rem;
}

.student-sheet-card {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 600px;
  margin: 10px 10%;
  padding: 15px 40px;
  border-radius: 0.5rem;
}

.sheet-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: max-content;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ddd9d9;
  border-radius: 5px;
  background-color: #161718;
  color: white;
}

.sheet-button-section {
  display: flex;
  justify-content: flex-end;
  margin: 0 10%;
}

.sheet-description {
  background-color: #fff;
  padding: 20px 40px;
  width: 100%;
}

.sheet-title {
  background-color: #fff;
  padding: 40px 40px 0;
  display: inline-block;
}

.report-panel {
  display: flex;
  flex-direction: row;
}

.report-left {
  width: 70%;
  background-color: white;
  margin: 1rem 2rem;
  border-radius: 10px;
}

.report-right {
  width: 30%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.stats-left {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stat-header {
  margin: 1.5rem;
}

.report-title {
  margin: 2rem 2rem 1rem;
}

.stat-card-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 15rem;
}

.stat-card-right h1 {
  font-size: 4rem;
}

.stat-bargraph {
  margin: 0.5rem 2rem;
}

.stat-title {
  margin: 0.5rem;
}

.stat-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
}

.stat-identity {
  font-size: 0.8rem;
}

.vertical {
  border-left: 1px solid black;
}

.stat-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.average-stat {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.average-stat h5 {
  margin-left: 0.1rem;
}

.sheet-avatar {
  background-image: url('../assets/default-avatar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: #8d8d8d;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.student-sheet-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-sheet-id {
  margin-right: 5rem;
}

.sheet-absent-checkbox {
  align-items: center;
  text-align: center;
}

.sheet-absent-title {
  margin-bottom: 0.2rem;
}

.sheet-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-icon {
  z-index: 10;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2.6rem;
  top: 0.5rem;
  color: black;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.remove-icon:hover {
  background-color: rgb(242, 245, 248);
}

.card-container {
  margin: 10px 20px 20px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.selection-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  width: 18rem;
  height: 14rem;
  border-radius: 5px;
  margin: 0 2rem 2rem;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.selection-icon {
  color: #393c41;
  font-size: 5rem;
}

.delete-icon {
  z-index: 10;
  background: none;
  color: #393c41;
  border: none;
  padding: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2.6rem;
  bottom: 2.2rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.delete-icon:hover {
  background-color: #f5f5f5;
}

.edit-icon {
  z-index: 10;
  background: none;
  color: #393c41;
  border: none;
  padding: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 2.6rem;
  top: 0.3rem;
  font-size: 1.1rem;
  border-radius: 5px;
}

.edit-icon:hover {
  background-color: #f5f5f5;
}

.removeUnderline {
  text-decoration: none;
}

.main-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.black {
  color: black;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: 100%;
  background-color: white;
}

.alert {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.invalid-entry {
  border: 1px solid red;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.sensei-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.companionX-logo {
  height: 50px;
  width: 50px;
  margin: 5px;
}

.sensei-text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  margin-left: 5px;
}

.left-register {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 12px;
  padding: 0.8rem 0;
  font-weight: bold;
}

#addClassComponent {
  margin: 50px 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  flex-direction: row;
}

#form-title {
  text-align: center;
  margin-top: 30px;
}

.form-column {
  margin: 35px 80px 0px;
  padding: 0 40px 30px;
  display: flex;
  min-width: 200px;
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: white;
}

#time-spacer {
  width: 30px;
}

.clear-button:hover {
  background-color: #db3535;
}

.finalize-button:hover {
  background-color: #0d4103;
}

.time-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.alert-column {
  margin: 30px 20%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  min-width: 420px;
}

.post-avatar {
  background-image: url('../assets/default-avatar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: #8d8d8d;
  border-radius: 50%;
}

.bulletin-container {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.selector {
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #393c41;
  background-color: #f5f5f5;
  padding: 11px;
}

.alert-save {
  font-size: 12px;
  font-weight: bold;
  border: none;
  color: #fff;
  padding: 11px;
  border-radius: 5px;
  background-color: #161718;
}

/* #161718 */
/* #2f353b */

.alert-save:hover {
  background-color: #273647;
}

.alert-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.alert-suboptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date-picker {
  padding: 9px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  color: #393c41;
  margin-left: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

[type='date']::-webkit-calendar-picker-indicator {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #bbbbbb;
  cursor: pointer;
}

.alert-card {
  margin: 10px 20%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  min-width: 420px;
}

.creator-section {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.post-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sub-info {
  color: #8d8d8d;
}

.post-content {
  margin-left: 51px;
  font-size: 0.8rem;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

/* <---------------- Polls ----------------> */

.poll-view-button {
  position: absolute;
  bottom: -3.5rem;
  right: 0;
  padding: 0 2rem;
  background-color: #3b43d6;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.view-poll-title {
  margin: 2rem 0;
}

.poll-card {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  min-width: 420px;
  margin-bottom: 1rem;
}

.poll-title {
  margin-left: 50px;
}

.view-polls-column {
  margin: 0 20%;
}

.poll-selector {
  margin-right: 1rem;
}

.polls-panel {
  flex-direction: column;
}

.poll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem 4rem;
  min-width: 35rem;
  border-radius: 5px;
}

.answer-options {
  display: flex;
  flex-direction: column;
}

.create-poll {
  margin-left: auto;
  margin-right: 0;
}

.add-option {
  margin: 0.5rem 0;
}

.poll-button-text {
  margin-left: 0.1rem;
}

/* <---------------- Polls ----------------> */
